{% extends "Fairsoft/base.html" %}
{% block title %}{% trans "Contact" %}{% endblock %}
{% block body %}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">{% trans "Contact" %}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row content-row">
				<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="page-header">
						<h1>{% trans "Contactformulier" %}</h1>
					</div>
					<form name="contactForm" action="/sendForm" method="post" enctype="text/plain" class="form-horizontal">
						<div class="form-group">
							<label class="control-label" for="name">{% trans "Naam" %} :</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>
						<div class="form-group">
							<label class="control-label" for="e-mail">{% trans "E-mail" %} :</label>
							<input type="email" class="form-control" id="e-mail" name="e-mail">
						</div>
						<div class="form-group">
							<label class="control-label" for="phone">{% trans "Telefoon" %} :</label>
							<input type="tel" class="form-control" id="phone" name="phone">
						</div>
						<div class="form-group">
							<label class="control-label" for="text">{% trans "Vraag / opmerking" %} :</label>
							<textarea rows="6" class="form-control" id="text" name="text"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">{% trans "Verzenden" %}</button>
						</div>

					</form>
				</article>
				<div class="content-img-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<img class="content-img" src="img/contact-pic.png" alt="{% trans 'Technische ondersteuning' %}">
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}