{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Productnaam : {{product.getProductName()}} <img src="{{product.getImgurl()}}" alt="thumb" width="{{product.getThumbSize()}}" /></h1>
<h2>Prijs : &euro; {{ product.getSalesPrice() }}</h2>
<p>Product-id : {{ product.getProductId() }}</p>
<hr>
{% autoescape false %} {{ product.getProductDesc() }} {% endautoescape %}
<hr>
{% autoescape false %} <p>{{ product.getProductDesc_en() }} {% endautoescape %}
<hr>
<p><img src="{{product.getImgurl()}}" alt="plaatje" width="{{product.getImgSize()}}" /></p>


{% endblock %}