{% extends "Fairsoft/base.html" %}

{% set language=app.session.locale %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Productnaam : {{product.getProductName()}} <img src="{{product.getImgurl()}}" alt="thumb" width="{{product.getThumbSize()}}" /></h1>
<h2>Prijs : &euro; {{ product.getSalesPrice() }}</h2>
<p>Product-id : {{ product.getProductId() }}</p>
<hr>

{{app.session.locale}}

{% if language == "nl_NL" %}
{% autoescape false %}
{{ product.getProductDesc() }}
{% endautoescape %}
{% elseif language == "en_US" %}
{% autoescape false %}
{{ product.getProductDesc_en() }}
{% endautoescape %}
{% endif %}<hr>
<p><img src="{{product.getImgurl()}}" alt="plaatje" width="{{product.getImgSize()}}" /></p>


{% endblock %}