{% extends "Fairsoft/base.html" %}
{% set language = app.session.locale %}
{% set name = product.getName() %}

{% block title %}{% trans name %}{% endblock %}

{% block body %}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">{% trans name %}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row content-row">
				<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h1>{%trans name %}</h1>
					<div class="row">
						{% if language == "nl_NL" %}
							{% autoescape false %}
								{{ product.getProductDesc() }}
							{% endautoescape %}
						{% elseif language == "en_US" %}
							{% autoescape false %}
								{{ product.getProductDesc_en() }}
							{% endautoescape %}
						{% endif %}
					</div>
					<h3>&euro; {{ product.getSalesPrice() }}</h3>
					<form action="/cart/add/{{product.getId()}}" method="post">
						{% trans "Aantal" %}
						<input type="number" name="quantity" value="1">
						<input type="submit" value="{% trans 'In winkelwagen' %}">
					</form>
				</article>
				<div class="content-img-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<img class="content-img" src="{{image.getRelativePath()}}" width="{{image.getSize()}}" alt="Home">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}