<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<p>
    <nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/how-it-works">{% trans "Hoe het werkt" %} </a>
			</li>
			<li>
				<ul>
					<li>
						<a href="/FairVest/1">FairVest</a>
					</li>
					<li>
						<a href="/FairBox/2">FairBox</a>
					</li>
					<li>
						<a href="/FairGoggles/3">FairGoggles</a>
					</li>
					<li>
						<a href="/FairApp/4">FairApp</a>
					</li>
					<li>
						<a href="/login">{% trans "Login" %}</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/tech-support">{% trans "Technische ondersteuning" %} </a>
			</li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<hr>
	<nav>
		{% for language in available_languages %}
			<a href="/nl">{% trans "NL" %}</a>
			<a href="/en">{% trans "EN" %}</a>
		{% endfor %}
	</nav>
    {% block body %}
    {% endblock %}
</body>
</html>
